
:root{
    --color_green: rgb(25,187, 41); 
	--main_color: #3E6AE1; 
    --font: rgb(239,236, 236); 
	--border: rgba(173, 173, 173, 1);
	--text: rgb(46, 46, 46);
	--base: white;
    
}

html,
body, #root{
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 50px; 
	line-height: 1;
	background-color: var(--font);
	font-size: 16px;
	/* color: var(--color_header); */
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	
}





/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


._container {
	max-width: 1310px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}



