.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index:2;
	/* border: 1px solid var(--color_blue); */

} 


.header__container {
	position: relative;
	display: flex;
	min-height: 104px;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--main_color);
	font-size: 30px;
	font-weight: 700;
	flex: 0 0 60px;
	position: relative;
	z-index: 3;
	text-decoration: none;
}

.header__logo img {
	max-width: 200px;
	display: block;
}




.header__burger{
	display: none;

} 

.header__menu{
	font-size: 20px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.menu {
	padding: 5px 0;
}
.menu__list{
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 0px;
	z-index: 2;
}


/* .menu__list .menu__item:last-child{
	display: flex;
} */
.menu__list img{
	width: 50px;
	height: 50px;
}


.content {
	margin-top: 300px;
}





ol, ul, dl {
	margin: 0px 0px 0px 0px;
  }




.menu__link {
	color: var(--main_color);
	text-decoration: none;
    display: inline-block;
	padding: 0px 30px 0px 30px;
    transition: transform 0.3s ease, color 0.3s ease;
    line-height: 1;
	font-family: noto-serif;
}

.menu__link:hover {
    transform: scale(1.2);
  }

.menu__link_active{
	color: var(--main_color);
	font-size: 22px;
	font-weight: bold;


}

 .menu__link.active{
	text-decoration: underline;

}





@media (max-width: 992px) {
	.body.lock{
		overflow: hidden;
	}
	.header__container {
		min-height: 50px;
	}
	.header__logo {
		/* flex: 0 0 40px; для фото */
		font-size: 20px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;

	} 
	.header__burger span{
		position: absolute;
		background-color: white;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;	
		transition: all 0.5s ease 0s;
		
	}
	.header__burger:before,.header__burger:after{
		content: '';
		background-color: white;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.5s ease 0s;
		

	}
	

	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom:0;
	}
	.header__burger.active span{
		transform: scale(0);
		
		
	}

	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;

	} 
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;

	} 


	.header__menu {
		position:fixed;

		/* выезжание */
		top: -100%;	
		left: 0;


		width: 100%;
		
		background-color: white;
		padding: 70px 10px 20px 0px;
		transition: all 0.5s ease 0s;
		display: flex;          /* Используем Flexbox */
		flex-direction: column; /* Располагаем элементы по вертикали */
		align-items: center;    /* Центрируем по горизонтали */
		justify-content: center;
		overflow: auto;
	

		
	}

	
	.header__menu.active{
		top: 0;
	}

	.menu__list {
		flex-direction: column;
    	align-items: center;
		
		
	}
	
	.menu__item {
		margin: 0px 0px 20px 0px;
	}
	.application{
		margin-top: 20px;
	}

	.menu__item:last-child {
		margin-bottom: 0;
	}
	
}

  